*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1f94f0;
}


.content{
    padding: 1rem;
    background-color:#a12828;
    color: white;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 0 50px black;
}

@media screen and (min-width: 992px) {
    .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
    }
  }


