.pokemons{
    display: grid;
    grid-template-columns: 1fr ;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.fire {background-color: 
    #ff9d55;}
.grass {background-color:
    #61b955;}
.ground {background-color:
    #db7845;}
.normal{background-color:
    #c7b78a;}
.rock {background-color:
    #9199a1;}
.fairy {background-color:
    #ed92e5;}
.fighting {background-color:
    #cf4068;}
.poison{background-color:
    #ab64cb;}
.water{background-color:
    #5396d7;}
.electric{background-color:
    #f4d440;}
.bug{background-color:
    #95c32c;}
.ice{background-color:
    #79d1c7;}
.steel{background-color:
    #53859e;}
.dark{background-color:
    #5d586d;}
.ghost{background-color:
    #556ab1;}
.dragon{background-color:
    #0868c3;}
.flying{background-color:
    #99b3e3;}
.psychic{background-color:
    #fa7f7e;}



.pokemon{
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px black;
}

.pokemon .number{
    color: black;
    opacity: .3;
    text-align: right;
    font-size: 1rem;
}
.pokemon .name{
    text-transform: capitalize;
    color: white;
    margin-bottom: 0;
    text-shadow: 0 0 10px black;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}
.pokemon .detail .types .type{
    color: white;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    box-shadow: 0 0 10px black;
}

.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: white;
    background-color: #1f94f0 ;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 10px black;

}

.luzes{
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 120px;
    list-style: none;
    padding-bottom: 100px;
    padding: 0 50px;
    margin: 0;
    position: relative;
    bottom: 70px;
    text-shadow: 0 0 20px black;
    animation: luzes_pisca 1s ease-out infinite;
}
.luzes li.amarelo{
    color: rgb(231, 231, 20);
    text-shadow: 0 0 20px rgb(255, 255, 0);
    
    
}
.luzes li.verde{
    color: rgb(18, 126, 18);
    text-shadow: 0 0 20px rgb(18, 126, 18);
}
.luzes li.vermelho{
    color: rgb(226, 9, 9);
    filter: brightness(1.1);
}

.luzes li.azul{
    position: relative;
    bottom: 70px;
    font-size: 200px;
    color: rgb(12, 12, 156);
}


@keyframes  luzes_pisca {
    0%{
        filter: brightness(0);
    }
    25%{
        filter: brightness(1.2);
    }
    50%{
        filter: brightness(1.5);
    }
    75%{
        filter: brightness(1.7);
    }

    100%{
        filter: brightness(2);
    }
}

.nomeDapag{
    position: absolute;
    padding:0 30px;
    text-shadow:0 0 15px black;

}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr ;
    }
}


@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr ;
    }
}


@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}





